시리즈 구조

In [2]:
import pandas as pd
dic_data = {'a':1, 'b':2, 'c':3}
sr = pd.Series(dic_data)
print(type(sr))
print('\n')
print(sr)

<class 'pandas.core.series.Series'>


a    1
b    2
c    3
dtype: int64

In [4]:
list_data = ['20190102',3.14,'ABC',100,True]
sr = pd.Series(list_data)
print(sr)
print('\n')

0    20190102
1        3.14
2         ABC
3         100
4        True
dtype: object

In [6]:
idx = sr.index
val = sr.values
print(idx)
print('\n')
print(val)

RangeIndex(start=0, stop=5, step=1)


['20190102' 3.14 'ABC' 100 True]

In [7]:
#튜플을 시리즈로 변환 (index 옵션에 인덱스 이름을 지정)
#튜플은 수정 불가능하다. () 사용
tup_data = ('영인','20100501','여',True)
sr = pd.Series(tup_data, index=['이름','생년월일','성별','학생여부'])
print(sr)
print('\n')

print(sr[0])
print(sr['이름'])
print('\n')

print(sr[[1, 2]])
print('\n')
print(sr[['생년월일', '성별']])
print('\n')

print(sr[1:2])
print('\n')
print(sr['생년월일' : '성별'])

이름            영인
생년월일    20100501
성별             여
학생여부        True
dtype: object


영인
영인


생년월일    20100501
성별             여
dtype: object


생년월일    20100501
성별             여
dtype: object


생년월일    20100501
dtype: object


생년월일    20100501
성별             여
dtype: object

데이터 프레임

In [8]:
dict_data = {'c0':[1, 2, 3], 'c1':[4,5,6], 'c2':[7,8,9], 'c3':[10,11,12], 'c4':[13,14,15] }

df = pd.DataFrame(dict_data)

print(type(df))
print('\n')
print(df)

<class 'pandas.core.frame.DataFrame'>


   c0  c1  c2  c3  c4
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15

In [13]:
df = pd.DataFrame([[15,'남','덕영중'],[17,'여','수리중']],
                  index=['준서','예은'],
                 columns=['나이','성별','학교'])

print(df)
print('\n')
print(df.index)
print('\n')
print(df.columns)
print('\n')

df.index=['학생1','학생2']
df.columns=['연령','남녀','소속']

print(df)
print('\n')
print(df.index)
print('\n')
print(df.columns)
print('\n')

    나이 성별   학교
준서  15  남  덕영중
예은  17  여  수리중


Index(['준서', '예은'], dtype='object')


Index(['나이', '성별', '학교'], dtype='object')


     연령 남녀   소속
학생1  15  남  덕영중
학생2  17  여  수리중


Index(['학생1', '학생2'], dtype='object')


Index(['연령', '남녀', '소속'], dtype='object')

In [12]:
df = pd.DataFrame([[15,'남','덕영중'],[17,'여','수리중']],
                  index=['준서','예은'],
                 columns=['나이','성별','학교'])

print(df)
print('\n')

df.rename(columns={'나이':'연령', '성별':'남녀', '학교':'소속'}, inplace=True)

df.rename(index={'준서':'학생1', '예은':'학생2'}, inplace=True)

print(df)

    나이 성별   학교
준서  15  남  덕영중
예은  17  여  수리중


     연령 남녀   소속
학생1  15  남  덕영중
학생2  17  여  수리중