# 시리즈 만들기

In [2]:
import pandas as pd
s = pd.Series(['banana', 42])
print(s)

0    banana
1        42
dtype: object

In [4]:
s = pd.Series(['Kim','game of thrones'])
print(s)

0                Kim
1    game of thrones
dtype: object

In [5]:
s = pd.Series([41,42])
print(s)

0    41
1    42
dtype: int64

In [6]:
s = pd.Series(['Kim','game of thrones'], index=['Person','who'])
print(s)

Person                Kim
who       game of thrones
dtype: object

# 데이터프레임 만들기

In [3]:
scientists = pd.DataFrame(
    {
    'Name' : ['Rosaline Franklin','William Gosset'],
    'Occupation' : ['Chemist','Statistician'],
    'Born' : ['1920-7-25','1876-06-13'],
    'Died' : ['1958-04-16','1937-10-16'],
    'Age' : [37,61],
    }
)
print(scientists)

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist   1920-7-25  1958-04-16   37
1     William Gosset  Statistician  1876-06-13  1937-10-16   61

In [8]:
scientists = pd.DataFrame(
    data =
    {
    'Occupation' : ['Chemist','Statistician'],
    'Born' : ['1920-7-25','1876-06-13'],
    'Died' : ['1958-04-16','1937-10-16'],
    'Age' : [37,61]
    },
    index = ['Rosaline Franklin','William Gosset']
)
print(scientists)

                     Occupation        Born        Died  Age
Rosaline Franklin       Chemist   1920-7-25  1958-04-16   37
William Gosset     Statistician  1876-06-13  1937-10-16   61

# 데이터프레임에서 시리즈 선택하기

In [9]:
scientists = pd.DataFrame(
    data={'Occupation': ['Chemist', 'Statistician'], 
          'Born': ['1920-07-25', '1876-06-13'], 
          'Died': ['1958-04-16', '1937-10-16'],
          'Age': [37, 61]},
    index=['Rosaline Franklin', 'William Gosset'],
    columns=['Occupation', 'Born', 'Died', 'Age'])

In [10]:
first_row = scientists.loc['William Gosset'] 
print(type(first_row))

<class 'pandas.core.series.Series'>

In [11]:
print(first_row)

Occupation    Statistician
Born            1876-06-13
Died            1937-10-16
Age                     61
Name: William Gosset, dtype: object

# index, values, keys 사용하기

In [12]:
print(first_row.index)

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

In [13]:
print(first_row.values)

['Statistician' '1876-06-13' '1937-10-16' 61]

In [14]:
print(first_row.keys())
#dataframe에서는 무조건 인덱스
#똑같긴 함

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

In [16]:
print(first_row.index[0])

Occupation

In [18]:
print(first_row.keys()[0])

Occupation

# 시리즈의 mean, min, max, std 메서드 사용하기

In [20]:
ages = scientists['Age']
print(ages)
print(type(ages))

Rosaline Franklin    37
William Gosset       61
Name: Age, dtype: int64
<class 'pandas.core.series.Series'>

In [21]:
print(ages.mean())

49.0

In [22]:
print(ages.min())

37

In [23]:
print(ages.max())

61

In [24]:
print(ages.std())

16.97056274847714

# 시리즈와 불린 추출 사용하기

In [4]:
scientists = pd.read_csv("../data/scientists.csv")
print(scientists)

                   Name        Born        Died  Age          Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

In [27]:
ages = scientists['Age']
print(ages.max())

90

In [28]:
print(ages.mean())

59.125

In [29]:
print(ages[ages>ages.mean()])
#조건에 해당하는 애들

1    61
2    90
3    66
7    77
Name: Age, dtype: int64

In [30]:
print(ages>ages.mean())
#그냥 조건문

0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool

In [31]:
print(type(ages>ages.mean()))

<class 'pandas.core.series.Series'>

In [32]:
manual_bool_values = [True,True,False,False,True,True,False,True]
print(ages[manual_bool_values])

0    37
1    61
4    56
5    45
7    77
Name: Age, dtype: int64

# 시리즈와 브로드캐스팅

In [34]:
print(ages+ages)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [35]:
print(ages*ages)

0    1369
1    3721
2    8100
3    4356
4    3136
5    2025
6    1681
7    5929
Name: Age, dtype: int64

In [36]:
print(ages+100)

0    137
1    161
2    190
3    166
4    156
5    145
6    141
7    177
Name: Age, dtype: int64

In [37]:
print(pd.Series([1,100]))

0      1
1    100
dtype: int64

In [40]:
sr = pd.Series([1,100])
print(ages+sr)

0     38.0
1    161.0
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
dtype: float64

In [45]:
#python에서는 descending 이용하지 않음, ascending true, false만 있음
rev_ages = ages.sort_index(ascending=False)
print(rev_ages)

7    77
6    41
5    45
4    56
3    66
2    90
1    61
0    37
Name: Age, dtype: int64

# 데이터프레임과 불린 추출

In [46]:
print(scientists[scientists['Age']>scientists['Age'].mean()])

                   Name        Born        Died  Age     Occupation
1        William Gosset  1876-06-13  1937-10-16   61   Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90          Nurse
3           Marie Curie  1867-11-07  1934-07-04   66        Chemist
7          Johann Gauss  1777-04-30  1855-02-23   77  Mathematician

In [47]:
print(scientists.loc[[True,True,False,False]])

                Name        Born        Died  Age    Occupation
0  Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist
1     William Gosset  1876-06-13  1937-10-16   61  Statistician

In [48]:
print(scientists *2)

                                       Name                  Born  \
0        Rosaline FranklinRosaline Franklin  1920-07-251920-07-25
1              William GossetWilliam Gosset  1876-06-131876-06-13
2  Florence NightingaleFlorence Nightingale  1820-05-121820-05-12
3                    Marie CurieMarie Curie  1867-11-071867-11-07
4                Rachel CarsonRachel Carson  1907-05-271907-05-27
5                        John SnowJohn Snow  1813-03-151813-03-15
6                    Alan TuringAlan Turing  1912-06-231912-06-23
7                  Johann GaussJohann Gauss  1777-04-301777-04-30

                   Died  Age                            Occupation
0  1958-04-161958-04-16   74                        ChemistChemist
1  1937-10-161937-10-16  122              StatisticianStatistician
2  1910-08-131910-08-13  180                            NurseNurse
3  1934-07-041934-07-04  132                        ChemistChemist
4  1964-04-141964-04-14  112                    BiologistBiologist
5  1858-06-161858-06-16   90                    PhysicianPhysician
6  1954-06-071954-06-07   82  Computer ScientistComputer Scientist
7  1855-02-231855-02-23  154            MathematicianMathematician

In [49]:
print(scientists['Born'].dtype)
print(scientists['Died'].dtype)

object
object

# 열의 자료형 바꾸기와 새로운 열 추가하기

In [50]:
born_dateTime = pd.to_datetime(scientists['Born'], format='%Y-%m-%d')
print(born_dateTime)

0   1920-07-25
1   1876-06-13
2   1820-05-12
3   1867-11-07
4   1907-05-27
5   1813-03-15
6   1912-06-23
7   1777-04-30
Name: Born, dtype: datetime64[ns]

In [51]:
died_dateTime = pd.to_datetime(scientists['Died'], format='%Y-%m-%d')
print(died_dateTime)

0   1958-04-16
1   1937-10-16
2   1910-08-13
3   1934-07-04
4   1964-04-14
5   1858-06-16
6   1954-06-07
7   1855-02-23
Name: Died, dtype: datetime64[ns]

In [52]:
scientists['born_dt'],scientists['died_dt'] = (born_dateTime, died_dateTime)
print(scientists.head())

                   Name        Born        Died  Age    Occupation    born_dt  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist 1920-07-25
1        William Gosset  1876-06-13  1937-10-16   61  Statistician 1876-06-13
2  Florence Nightingale  1820-05-12  1910-08-13   90         Nurse 1820-05-12
3           Marie Curie  1867-11-07  1934-07-04   66       Chemist 1867-11-07
4         Rachel Carson  1907-05-27  1964-04-14   56     Biologist 1907-05-27

     died_dt
0 1958-04-16
1 1937-10-16
2 1910-08-13
3 1934-07-04
4 1964-04-14

In [53]:
print(scientists.shape)

(8, 7)

In [55]:
scientists['age_days_dt'] = (scientists['died_dt'] - scientists['born_dt'])
print(scientists)

                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

     born_dt    died_dt age_days_dt
0 1920-07-25 1958-04-16  13779 days
1 1876-06-13 1937-10-16  22404 days
2 1820-05-12 1910-08-13  32964 days
3 1867-11-07 1934-07-04  24345 days
4 1907-05-27 1964-04-14  20777 days
5 1813-03-15 1858-06-16  16529 days
6 1912-06-23 1954-06-07  15324 days
7 1777-04-30 1855-02-23  28422 days

# 시리즈, 데이터프레임의 데이터 섞어보기

In [5]:
print(scientists['Age'])

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

In [6]:
import random

random.seed(42)
random.shuffle(scientists['Age'])
print(scientists['Age'])

C:\Users\do0ob\Anaconda3\lib\random.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  x[i], x[j] = x[j], x[i]

0    66
1    56
2    41
3    77
4    90
5    45
6    37
7    61
Name: Age, dtype: int64

# 데이터프레임의 열 삭제하기

In [7]:
print(scientists.columns)

Index(['Name', 'Born', 'Died', 'Age', 'Occupation'], dtype='object')

In [12]:
#삭제 기준은 행. axis(축)값을 1로 하면 행이 지워짐
scientists_dropped = scientists.drop(['Age','Name'],axis=1)
print(scientists_dropped.columns)

Index(['Born', 'Died', 'Occupation'], dtype='object')

# 피클 형식으로 저장하기

In [18]:
names = scientists['Name']

In [19]:
names.to_pickle('../output/scientists_names_series.pickle')

In [20]:
scientists.to_pickle('../output/scientists_df.pickle')

In [22]:
scientist_names_from_pickle = pd.read_pickle('../output/scientists_names_series.pickle')
print(scientist_names_from_pickle)

0       Rosaline Franklin
1          William Gosset
2    Florence Nightingale
3             Marie Curie
4           Rachel Carson
5               John Snow
6             Alan Turing
7            Johann Gauss
Name: Name, dtype: object

# CSV 불러오기

In [23]:
names.to_csv('../output/scientists_names_series.csv')

C:\Users\do0ob\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.

In [24]:
scientists.to_csv('../output/scientists_df.tsv', sep='\t')

In [25]:
scientists.to_csv('../output/scientists_df_no_index.csv', index=False)

In [26]:
names_df = names.to_frame()

import xlwt
names_df.to_excel('../output/scientists_names/series_df.xls')

import openpyxl
names_df.to_excel('../output/scientists_names/series_df.xlsx')

FileNotFoundError: [Errno 2] No such file or directory: '../output/scientists_names/series_df.xls'